@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  font-family: "Press Start 2P", system-ui;
  background-color: rgb(196, 196, 196);
}

/*(INICIO) --- MAIN JSX STYLES*/
.header-container {
  display: flex;
  margin: 0px auto;
  background-color: #69d173;

}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-img {
  width: 25%;
  height: 15vh;

}

.header-img img {
  max-height: 90%;
  height: 90%;
  padding: 10px;

}

.header-info {
  display: flex;
  width: 25%;
  height: 15vh;
  align-items: center;
  justify-content: center;

}

.header-info-icons {
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  transform: scale(0.7);
}

.header-info-icons :hover {
  transform: scale(1.2);
  transition: ease-in-out 0.5s;

}


.header-info-icons img {
  max-height: 100%;
  height: 100%;
}



.leagues {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 71vh;
}

.league-icon {
  height: 42vh;
  display: flex;
  justify-content: center;
}

.league-icon img {
  margin: 20px;
  max-height: 100%;
  padding: 50px;
  border: 10px solid black;
  border-radius: 10px;
  background-color: rgb(231, 231, 231);

}

.transition-img {
  transition: opacity 3s ease-in-out;

}



.change-league {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px
}

.change-league :hover {
  transition: 1s;

  transform: scale(1.1);

}



.league-submit {
  height: 10vh;
  width: 100vi;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px;
}

.league-submit button {
  padding: 0px 40px;
  border: 3px solid black;
  border-radius: 2px;

}

/*(FIN) --- MAIN JSX STYLES*/


/*(INICIO --- LEAGUE_TEAMS JSX STYLES*/
.teams-list-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 99vi;
  max-height: 100vh;
  max-width: 99vi;

}

.team-list-league-info {
  display: flex;
  height: 15%;
  background-color: #69d173;

}

.teams-list-league-img {
  display: flex;
  height: 100%;
  justify-content: center;

}

.teams-list-league-img img {
  display: flex;
  height: 90%;
}


.teams-list-league-icon-img {
  display: flex;
  height: 100%;
  justify-content: center;

}

.teams-list-league-icon-img img {
  display: flex;
  padding: 15px;
  height: 70%;
}

.teams-list-league-name {
  display: flex;
  padding: 30px;
  font-size: 40px;
  text-align: center;
  justify-content: center;

}

/*(FIN --- LEAGUE_TEAMS JSX STYLES*/


/*(INICIO) --- TEAM_ROWS JSX STYLES*/
.team-rows-container {
  display: flex;
  flex-direction: column;
  max-height: 720px;
  overflow-y: scroll;
}

/*(FIN) --- TEAM_ROWS JSX STYLES*/


/*(INICIO) --- TEAM_ROW JSX STYLES*/
.team-row {

  display: flex;
  flex-direction: row;
  background-color: rgb(196, 196, 196);
  border-radius: 5px;
  border: 5px solid black;
  margin: 5px auto;
  padding: 10px;
  scale: 0.9;
}

.team-row:hover {
  background-color: rgb(139, 139, 139);
  transform: scale(1.1);
}

.team-row p {
  margin: auto;

}

.team-prop {
  display: flex;
  margin: auto;
  padding-top: 15px;

}

/*(FIN) --- TEAM_ROW JSX STYLES*/

/*(INICIO) --- TEAM_SPECS JSX STYLES*/

.team-specs {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: rgb(116, 113, 113);
  max-height: 675px;
  border: 5px solid black;
  border-radius: 5px;
  padding: 20px;

}

.spec {
  display: flex;
  height: 25%;
  justify-content: center;
}

.spec button {
  width: 40%;
  background-color: #2e65ad;
}


.team-specs-container {
  padding: 50px;
  background-color: rgb(161, 161, 161);
  display: flex;
  align-items: center;
}

/*(FIN) --- TEAM_SPECS JSX STYLES*/

/*(INICIO --- TEAM_PLAYERS JSX STYLES)*/
.player-rows-container {
  flex-direction: column;
  max-height: 800px;
  overflow-y: scroll;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(44, 44, 44, 0.911);
  padding: 50px;
  border-radius: 5px;
}

.players-quit-rows {
  display: flex;
  height: 10%;
  padding: 10px;
}

.players-quit-rows button {
  background-color: red;

  border-radius: 5px;
}

/*(FIN) --- TEAM_PLAYERS JSX STYLES)*/

/*(INICIO --- TEAM_PLAYER JSX STYLES)*/
.player-row {
  display: flex;
  flex-direction: row;
  background-color: rgb(196, 196, 196);
  border-radius: 5px;
  border: 5px solid black;
  margin: 5px auto;
  padding: 30px;
  scale: 0.9;
}



/*(FIN) --- TEAM_PLAYER JSX STYLES)*/